## Ignore Misc
.curseclient
minecraftinstance.json
realms_persistence.json
options.txt
usercache.json
usernamecache.json

#Ignore Logs
/logs 
*.log
*.logs
/crash-reports

#Ignore Local Files
/Local
rhino.local.properties

# REI Ignore
hints.json

# JourneyMap Ignore
journeymap/icon/theme

# Kube JS
kubejs/readme.txt

# Local Save Files
/saves/*